/* 
>> Documentation for CSS
    [] Box model for login.html
>> Page: 12
>> Link to doc: https://docs.google.com/document/d/1NoFPu4Z9_kNf3hDG59YhuLVXH1JKc71kgO7CtFawtDw/edit?skip_itp2_check=true#
*/
/* 
The CSS box model is essentially a box that wraps around every HTML element. 
It consists of: 
    Margins
    Borders
    Padding
    The actual content
 */
.box_model_1 {
    display: inline-block;

    /* box model */
    margin: 0px 20px 10px 20px;  /* TOP RIGHT BOTTOM LEFT (The order of individual margin) */
    border: 5px solid rgb(220, 164, 33);
    padding: 5px 20px 10px 1px; /* TOP RIGHT BOTTOM LEFT (The order of individual padding) */
    /* content */
    width: 25px;
    height: 50px;

}

.box_model_2 {
    display: inline-block;
    
    /* box model */
    margin: 10px 20px;  /* TOP&BOTTOM RIGHT&LEFT (The order of dou margin) */
    border: 5px solid rgb(35, 57, 204);
    padding: 5px 20px; /* TOP&BOTTOM RIGHT&LEFT (The order of dou padding) */
    /* content */
    width: 10px;
    height: 25px;

}

body {
    background-color: rgb(136, 124, 175);
}

li {
    list-style: name;
    display: inline-block;
}

h1
{
    text-align: center;
    font-size: 200%;
    color: rgb(103, 60, 230);
}

h2{
    text-align: center;
    font-size: 150%;
    color: rgb(255, 245, 170); 

    border: 2px dashed rgb(35, 57, 204);

    /* content */
    width: 70px;
    height: 60px;
}

hr{
    margin: 25px 10px;
    padding: 2px 5px;
    border-top: 10px dotted rgb(134, 9, 179);
}